.reference {
    color: #F3FF4B;
    color: #F20070;
    color: #59EAFD;
    color: #5B9EC8;
    color: #070F22;
}

:root {
    --mainCol: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    /* font-family:monospace; */
    /* border-radius: 25px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1 { font-size: 24px; padding-bottom: 5px; }
h2 { font-size: 18px; padding-bottom: 5px; }
h3 { font-size: 18px; padding-bottom: 5px; }
h5 { font-size: 16px; padding-bottom: 5px;}
a { font-size: 14px; }

body {
    background-color: rgb(124, 164, 199);
}

body div#float-overlay {
    float: left;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.425);
    height: 100vh;
    width: 100vw;
}

.wrapper {
    position: absolute;
    background-color: grey;
    border: 1px solid yellow;
    min-height: 20vh;
    margin-left: 20%;
    width: 60%;
    padding: 5px;
}

.wrapper.full-width {
    margin-left: 0;
    width: 100%;
}

.container {
    font-size:0px;  /*Nak buang space bila pakai inline block dkt child sebab x nak pakai flex oiiiiiiiiii ala babun*/
    position: relative;
    display: block;
    background-color: rgb(100, 96, 96);
    border: 1px solid red;
    /* padding: 10px; */
    padding: 10px 10px 10px 10px;
}

.item {
    position: relative;
    font-size: 14px;
    /* margin: 0px; */
    background-color: aliceblue;
    border: 1px solid black;
    min-height: auto;
    vertical-align: top;
    padding: 10px 5px 10px 5px;
    /* overflow: hidden; */
}

.item.row { display: block; width: 100%; }

.item.col { display: inline-block; min-width: 20%; }
.item.col-2 { display: inline-block; width: 50%; }
.item.col-3 { display: inline-block; width: 33.33%; }
.item.col-4 { display: inline-block; width: 25%; }

.item.col-2.ratio-small { width: 20% !important;}
.item.col-2.ratio-big { width: 80% !important; }



.item.main {
    min-height: 100vh;
}

.float-right {
    float: right;
}

/* menu top start */
.row.menu-col {
    background-color: #F3FF4B;
    padding: 2px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* overflow:hidden; */
}

.item.row.menu-col a,
.item.row.menu-col .dropdown a {
    border: 1px solid black;
    padding: 12px 5px 2px 5px !important;
    max-width: 100%;
    text-align: center;
    /* vertical-align: middle; */
    /* line-height: 20px; */
}

.item.row.menu-col a,
.item.row.menu-col .dropdown {
    display: inline-block;
    height: 55px;
    min-width: 10%;
    padding: 0px;
    overflow: hidden;
}

.menu-col .dropdown .dropdown-item {
    display: none;
    position: absolute;
    margin-top: -5px;
    z-index: 1;
}

.menu-col .dropdown .dropdown-item a {
    width: 100%;
}

.menu-col .dropdown .dropdown-item:hover,
.menu-col .dropdown a:hover +.dropdown-item{
    background-color: yellow;
    border: 1px solid black;
    display: block;
}

 a:hover {
    background-color: red;
}
/* menu top end */


/*menu side/row? col? start*/
.row.menu-row {
    background-color: #F3FF4B;
    padding: 2px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* overflow:hidden; */
}

.menu-row .dropdown .dropdown-item a,
.item.row.menu-row a,
.item.row.menu-row .dropdown a {
    display: block;
    border: 1px solid black;
    padding: 10px 5px 2px 5px !important;
    max-width: 100%;
    height: 40px;
    text-align:left;
    margin-top:5px;
}


.menu-row .dropdown .dropdown-item {
    display: none;
}

.menu-row .dropdown .dropdown-item a {
    margin-left: 10px;
}

.menu-row .dropdown .dropdown-item:hover,
.menu-row .dropdown a:hover +.dropdown-item{
    border: 1px solid yellow;
    display: block;
}

/*menu side/row? col? end*/

/* float menu test */
div.float-menu {
    background-color: #59EAFD;
    border: 1px solid red;
    position: fixed;
    height: 100vh;
    width: 20vw;
    float: left;
    z-index: 1;
}

div.float-menu.full-width {  
    width: 50px;
}
/* float menu test */


/* mobile menu test */
#float-menu-mobile,
div.float-menu-mobile-toggle {
    display: none;
}
/*mobile menu test */

.show {
    display: block !important;
}

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .wrapper {
        margin-left: 0;
        width: 100%;
        padding: 5px;
    }

    .mobile-hide {
        display: none !important;
    }
    .item.ratio-big.mobile-fill {
        width: 100% !important;
    }

    /* mobile menu start */
    div.float-menu-mobile-toggle {
        background-color: #070f2233;
        border: 1px double yellow;
        height: 80px;
        width: 80px;
        display: block;
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin: 15px;
        z-index: 1;
        border-radius: 25px;
    }

    
    div#float-menu-mobile {
        background-color: #070f2233;
        border: 2px double red;
        /* display: block; */
        position: fixed;
        bottom: 20vh;
        left: 5vw;
        float: left;
        height: auto;
        width: 90vw;
        z-index: 1;
    }

    /*mobile menu end*/
}